@model IBBPortal.Models.Project

@{
    ViewData["Title"] = @Model.ProjectTitle;
}

<!-- Alert for Exceptions -->
@if (@TempData["SuccessTitle"] is not null)
{
    <div class="alert bg-gradient-success alert-dismissible fade show border-0" role="alert">
        <h4 class="alert-heading text-white">
            <i class="fas fa-check"></i>
            @TempData["SuccessTitle"]
            <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h4>
        <p class="text-white">@TempData["SuccessMessage"]</p>
    </div>
}

<div class="row">
    <div class="justify-content-between py-2 col-12 d-flex">
        <h1 class="h3">@ViewData["Title"]</h1>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-column flex-md-row align-items-center justify-content-between">
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tag-tab" data-toggle="tab" href="#tag" role="tab" aria-controls="tag" aria-selected="false">Künye</a>
            </li>
            <li class="nav-item d-none d-md-block" role="presentation">
                <a class="nav-link" id="feasibility-tab" href="/ProjectFeasibility/Form/@Model.ProjectID">Fizibilite</a>
            </li>
            <li class="nav-item d-none d-md-block" role="presentation">
                <a class="nav-link" id="associates-tab" href="/ProjectPerson/Index/@Model.ProjectID">Kişiler</a>
            </li>
            <li class="nav-item d-none d-md-block" role="presentation">
                <a class="nav-link" id="project-relation-tab" href="/ProjectRelation/Index/@Model.ProjectID">İlişkili Projeler</a>
            </li>
            <li class="nav-item d-none d-md-block" role="presentation">
                <a class="nav-link" id="project-field-tab" href="/Project/EditProjectField/@Model.ProjectID">Proje Alanı</a>
            </li>
            <li class="nav-item d-none d-md-block" role="presentation">
                <a class="nav-link" id="project-field-tab" href="/ProjectMap/ProjectDetail/@Model.ProjectID">Proje Haritası</a>
            </li>
            <li class="nav-item d-none d-md-block" role="presentation">
                <a class="nav-link" id="subfunction-tab" href="/ProjectSubfunctionFeature/Index/@Model.ProjectID">Fonksiyon</a>
            </li>
            <li class="nav-item d-none d-md-block" role="presentation">
                <a class="nav-link" id="schedule-tab" href="/ProjectPhase/Index/@Model.ProjectID">Takvim/Süreç</a>
            </li>
            <li class="nav-item  d-none d-md-block" role="presentation">
                <a class="nav-link" id="schedule-tab" href="/ProjectBidding/Index/@Model.ProjectID">Maliyet</a>
            </li>
            <li class="nav-item dropdown d-md-none" role="presentation">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="other-tab" href="#" aria-expanded="false">Diğer İşlemler</a>
                <ul class="dropdown-menu">
                    <!--<li><a class="dropdown-item" href="/Project/Edit/@Model.ProjectID">Künye</a></li>-->
                    <li><a class="dropdown-item" href="/ProjectFeasibility/Form/@Model.ProjectID">Fizibilite</a></li>
                    <li><a class="dropdown-item" href="/ProjectPerson/Index/@Model.ProjectID">Kişiler</a></li>
                    <li><a class="dropdown-item" href="/ProjectRelation/Index/@Model.ProjectID">İlişkili Projeler</a></li>
                    
                    <li><a class="dropdown-item" href="/Project/EditProjectField/@Model.ProjectID">Proje Alanı</a></li>
                    <li><a class="dropdown-item" href="/ProjectMap/ProjectDetail/@Model.ProjectID">Proje Haritası</a></li>
                    <li><a class="dropdown-item" href="/ProjectSubfunctionFeature/Index/@Model.ProjectID">Fonksiyon</a></li>
                    <li><a class="dropdown-item" href="/ProjectPhase/Index/@Model.ProjectID ">Takvim/Süreç</a></li>
                    <li><a class="dropdown-item" href="/ProjectBidding/Index/@Model.ProjectID">Maliyet</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content my-3" id="formContent">
            <div class="tab-pane fade active show" id="tag" role="tabpanel" aria-labelledby="tag-tab">
                <form asp-action="Edit">
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <input type="hidden" asp-for="ProjectID" />
                            <!-- Validation Part. Must be still for all views!! -->
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <!-- Project Title -->
                            <div class="form-group row">
                                <label asp-for="ProjectTitle" class="col-12 col-lg-4 col-form-label">Proje Başlığı<span class="text-danger">*</span></label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ProjectTitle" type="text" class="form-control" required>
                                    <span asp-validation-for="ProjectTitle" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project Code -->
                            <div class="form-group row">
                                <label asp-for="ProjectCode" class="col-12 col-lg-4 col-form-label">Proje Kodu</label>
                                <div class="col-12 col-lg-8">
                                    <div class="text-primary">@Model.ProjectCode</div>
                                </div>
                            </div>

                            <!-- Project IBB Code -->
                            <div class="form-group row">
                                <label asp-for="ProjectIBBCode" class="col-12 col-lg-4 col-form-label">Proje İBB Kodu<span class="text-danger">*</span></label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ProjectIBBCode" class="form-control" required>
                                    <span asp-validation-for="ProjectIBBCode" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project End Time -->
                            <div class="form-group row">
                                <label asp-for="ProjectEndTime" class="col-12 col-xl-4 col-form-label">Proje Bitiş Tarihi</label>
                                <div class="col-12 col-xl-8">
                                    <input asp-for="ProjectEndTime" type="text" class="form-control datepicker">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span asp-validation-for="ProjectEndTime" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project Year -->
                            <div class="form-group row">
                                <label asp-for="ProjectYear" class="col-12 col-lg-4 col-form-label">Proje Yılı</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ProjectYear" type="number" class="form-control">
                                    <span asp-validation-for="ProjectYear" class="text-danger"></span>
                                </div>
                            </div>

                            <hr />

                            <!-- Requesting Management ID -->
                            <div class="form-group row">
                                <label asp-for="RequestingDepartmentID" class="col-12 col-xl-4 col-form-label">Talep Eden Müdürlük</label>
                                <div class="col-12 col-xl-8">
                                    <select asp-for="RequestingDepartmentID" class="form-control" id="selectRequestingDepartment" style="width: 100%;">
                                        @if (@Model.RequestingDepartment is not null)
                                        {
                                            <option value="@Model.RequestingDepartment.DepartmentID">@Model.RequestingDepartment.DepartmentTitle</option>
                                        }

                                        else
                                        {
                                            <option value="">Talep Eden Müdürlük Seçin</option>
                                        }
                                    </select>
                                    <span asp-validation-for="RequestingDepartmentID" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Requesting Authority ID -->
                            <div class="form-group row">
                                <label asp-for="RequestingAuthorityID" class="col-12 col-xl-4 col-form-label">Talep Eden Makam</label>
                                <div class="col-12 col-xl-8">
                                    <select asp-for="RequestingAuthorityID" class="form-control" id="selectRequestingAuthority" style="width: 100%;">
                                        @if (@Model.RequestingAuthority is not null)
                                        {
                                            <option value="@Model.RequestingAuthority.AuthorityID">@Model.RequestingAuthority.AuthorityTitle</option>
                                        }

                                        else
                                        {
                                            <option value="">Talep Eden Makam Seçin</option>
                                        }
                                    </select>
                                    <span asp-validation-for="RequestingAuthorityID" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Responsible Management ID -->
                            <div class="form-group row">
                                <label asp-for="ResponsibleDepartmentID" class="col-12 col-xl-4 col-form-label">Sorumlu Müdürlük</label>
                                <div class="col-12 col-xl-8">
                                    <select asp-for="ResponsibleDepartmentID" class="form-control" id="selectResponsibleDepartment" style="width: 100%;">
                                        @if (@Model.ResponsibleDepartment is not null)
                                        {
                                            <option value="@Model.ResponsibleDepartment.DepartmentID">@Model.ResponsibleDepartment.DepartmentTitle</option>
                                        }

                                        else
                                        {
                                            <option value="">Sorumlu Müdürlük Seçin</option>
                                        }
                                    </select>
                                    <span asp-validation-for="ResponsibleDepartmentID" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project Owner Person ID -->
                            <div class="form-group row">
                                <label asp-for="ProjectOwnerPersonID" class="col-12 col-xl-4 col-form-label">Proje Sahibi<span class="text-danger">*</span></label>
                                <div class="col-12 col-xl-8">
                                    <select asp-for="ProjectOwnerPersonID" class="form-control" id="selectProjectOwner" style="width: 100%;" required>
                                        @if (@Model.ProjectOwnerPerson is not null)
                                        {
                                            <option value="@Model.ProjectOwnerPerson.PersonID">@Model.ProjectOwnerPerson.PersonName @Model.ProjectOwnerPerson.PersonSurname</option>
                                        }

                                        else
                                        {
                                            <option value="">Proje Sahibi Seçin</option>
                                        }
                                    </select>
                                    <span asp-validation-for="ProjectOwnerPersonID" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project Manager ID -->
                            <div class="form-group row">
                                <label asp-for="ProjectManagerID" class="col-12 col-xl-4 col-form-label">Proje Müdürü</label>
                                <div class="col-12 col-xl-8">
                                    <select asp-for="ProjectManagerID" class="form-control" id="selectProjectManager" style="width: 100%;">
                                        @if (@Model.ProjectManager is not null)
                                        {
                                            <option value="@Model.ProjectManager.PersonID">@Model.ProjectManager.PersonName @Model.ProjectManager.PersonSurname</option>
                                        }

                                        else
                                        {
                                            <option value="">Proje Müdürü Seçin</option>
                                        }
                                    </select>
                                    <span asp-validation-for="ProjectManagerID" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project Service Area ID -->
                            <div class="form-group row">
                                <label asp-for="ProjectServiceAreaID" class="col-12 col-xl-4 col-form-label">Proje Hizmet Alanı<span class="text-danger">*</span></label>
                                <div class="col-12 col-xl-8">
                                    <select asp-for="ProjectServiceAreaID" class="form-control" id="selectServiceArea" style="width: 100%;" required>
                                        @if (@Model.ProjectServiceArea is not null)
                                        {
                                            <option value="@Model.ProjectServiceArea.ServiceAreaID">@Model.ProjectServiceArea.ServiceAreaTitle</option>
                                        }

                                        else
                                        {
                                            <option value="">Hizmet Alanı Seçin</option>
                                        }
                                    </select>
                                    <span asp-validation-for="ProjectServiceAreaID" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project Importance ID -->
                            <div class="form-group row">
                                <label asp-for="ProjectImportanceID" class="col-12 col-xl-4 col-form-label">Proje Önemi</label>
                                <div class="col-12 col-xl-8">
                                    <select asp-for="ProjectImportanceID" class="form-control" id="selectProjectImportance" style="width: 100%;">
                                        @if (@Model.ProjectImportance is not null)
                                        {
                                            <option value="@Model.ProjectImportance.ProjectImportanceID">@Model.ProjectImportance.ProjectImportanceTitle</option>
                                        }

                                        else
                                        {
                                            <option value="">Proje Önemi Seçin</option>
                                        }
                                    </select>
                                    <span asp-validation-for="ProjectImportanceID" class="text-danger"></span>
                                </div>
                            </div>

                            <hr />

                            <!-- Project Status ID -->
                            <div class="form-group row">
                                <label asp-for="ProjectStatusID" class="col-12 col-xl-4 col-form-label">Proje Durumu<span class="text-danger">*</span></label>
                                <div class="col-12 col-xl-8">
                                    <select asp-for="ProjectStatusID" class="form-control" id="selectProjectStatus" style="width: 100%;" required>
                                        @if (@Model.ProjectStatus is not null)
                                        {
                                            <option value="@Model.ProjectStatus.ProjectStatusID">@Model.ProjectStatus.ProjectStatusTitle</option>
                                        }

                                        else
                                        {
                                            <option value="">Proje Durumu Seçin</option>
                                        }
                                    </select>
                                    <span asp-validation-for="ProjectStatusID" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project Status Description -->
                            <div class="form-group row">
                                <label asp-for="ProjectStatusDescription" class="col-12 col-xl-4 col-form-label">Proje Durumu Açıklaması</label>
                                <div class="col-12 col-xl-8">
                                    <textarea asp-for="ProjectStatusDescription" class="form-control"></textarea>
                                    <span asp-validation-for="ProjectStatusDescription" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project Status Description Date -->
                            <div class="form-group row">
                                <label asp-for="ProjectStatusDescriptionDate" class="col-12 col-xl-4 col-form-label">Proje Durumu Açıklaması Tarihi</label>
                                <div class="col-12 col-xl-8">
                                    <input asp-for="ProjectStatusDescriptionDate" type="text" class="form-control datepicker">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span asp-validation-for="ProjectStatusDescriptionDate" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Default Values for the Database Date Part -->
                            <input type="hidden" asp-for="CreationDate" />
                            <input type="hidden" asp-for="UpdateDate" />

                            <!-- User ID for the Update -->
                            <input type="hidden" asp-for="UserID" />

                        </div>
                        <div class="col-12 col-xl-6">
                            <!-- Project Title (Production) -->
                            <div class="form-group row">
                                <label asp-for="ProjectProductionName" class="col-12 col-lg-4 col-form-label">Proje Başlığı (Yapım)</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ProjectProductionName" type="text" class="form-control">
                                    <span asp-validation-for="ProjectProductionName" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project Status Description Date -->
                            <div class="form-group row">
                                <label asp-for="ProjectProductionEndTime" class="col-12 col-xl-4 col-form-label">Proje Bitiş Tarihi (Yapım)</label>
                                <div class="col-12 col-xl-8">
                                    <input asp-for="ProjectProductionEndTime" type="text" class="form-control datepicker">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span asp-validation-for="ProjectProductionEndTime" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Production Responsible Department ID -->
                            <div class="form-group row">
                                <label asp-for="ProjectProductionRespDepartmentID" class="col-12 col-xl-4 col-form-label">Sorumlu Müdürlük (Yapım)</label>
                                <div class="col-12 col-xl-8">
                                    <select asp-for="ProjectProductionRespDepartmentID" class="form-control" id="selectProductionResponsibleDepartment" style="width: 100%;">
                                        @if (@Model.ProjectProductionRespDepartment is not null)
                                        {
                                            <option value="@Model.ProjectProductionRespDepartment.DepartmentID">@Model.ProjectProductionRespDepartment.DepartmentTitle</option>
                                        }

                                        else
                                        {
                                            <option value="">Sorumlu Müdürlük Seçin</option>
                                        }
                                    </select>
                                    <span asp-validation-for="ProjectProductionRespDepartmentID" class="text-danger"></span>
                                </div>
                            </div>

                            <hr />

                            <!-- Project Object ID -->
                            <div class="form-group row">
                                <label asp-for="ProjectObjectID" class="col-12 col-lg-4 col-form-label">Nesne No.</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ProjectObjectID" type="number" class="form-control">
                                    <span asp-validation-for="ProjectObjectID" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project UID -->
                            <div class="form-group row">
                                <label asp-for="ProjectUID" class="col-12 col-lg-4 col-form-label">UID</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ProjectUID" type="text" class="form-control">
                                    <span asp-validation-for="ProjectUID" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project Global ID -->
                            <div class="form-group row">
                                <label asp-for="ProjectGlobalID" class="col-12 col-lg-4 col-form-label">Global Proje No.</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ProjectGlobalID" type="text" class="form-control">
                                    <span asp-validation-for="ProjectGlobalID" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project File Number -->
                            <div class="form-group row">
                                <label asp-for="ProjectFileNumber" class="col-12 col-lg-4 col-form-label">Proje Dosya No.</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ProjectFileNumber" type="text" class="form-control">
                                    <span asp-validation-for="ProjectFileNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project Package Number -->
                            <div class="form-group row">
                                <label asp-for="ProjectPackageNumber" class="col-12 col-lg-4 col-form-label">Proje Paket No.</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ProjectPackageNumber" type="text" class="form-control">
                                    <span asp-validation-for="ProjectPackageNumber" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="col-12">
                            <div class="buttons mt-3 my-md-0">
                                <button type="submit" class="btn bg-success text-white"><i class="fas fa-save mr-2"></i> Kaydet</button>
                                <a asp-action="Index" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i> Vazgeç</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#selectRequestingDepartment').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/Department/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });

        $('#selectResponsibleDepartment, #selectProductionResponsibleDepartment').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/Department/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });

        $('#selectProjectOwner, #selectProjectManager').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/Person/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });

        $('#selectRequestingAuthority').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/Authority/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });

        $('#selectServiceArea').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/ServiceArea/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });

        $('#selectProjectImportance').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/ProjectImportance/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });

        $('#selectProjectStatus').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/ProjectStatus/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });
    </script>
}
