@{
    ViewData["Title"] = ViewBag.ProjectTitle;
}

@section Scripts {
    <script>
        //ProjectPerson Datatable
        $(document).ready(function () {
            let table = $("#dataTableFile").DataTable({
                "dom": 'rt<"d-flex justify-content-between flex-column align-items-baseline flex-md-row mt-3"ipl><"clear">',
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json",
                },
                "processing": false, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/File/JSONData",
                    "data": function (d) {
                        d.projectID = @ViewBag.ProjectID;
                    },
                    "type": "POST"
                },
                "columns": [
                    {
                        "data": "fileName",
                        "autoWidth": true
                    },
                    {
                        "data": "fileUploadType",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            let uploadType = "";
                            switch (row.fileUploadType){
                                case 10:
                                    uploadType = "Yükleme";
                                    break;
                                case 20:
                                    uploadType = "Dosya Linki"
                                    break;
                                default:
                                    uploadType = "Belirtilmemiş";
                                    break;
                            }
                            
                            return `<div class="btn btn-info btn-sm text-xs">${uploadType}</div>`;
                        }
                    },
                    {
                        "data": "fileCategoryID",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            return row.fileCategoryTitle;
                        }
                    },
                    {
                        "data": "fileType",
                        "autoWidth": true,
                    },
                    {
                        "data": "filePath",
                        "autoWidth": true,
                    },
                    {
                        "data": "fileURL",
                        "autoWidth": true,
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta, row) {
                            return `<div class="d-flex align-items-center justify-content-end">\
                                                    <button type="button" class="btn btn-circle bg-turqoise text-white mr-1" onclick="modalScript(this)" data-url="/File/Edit/${full.fileID}"><i class="fas fa-edit"></i></a>\
                                                    <button type="button" class="btn btn-circle bg-warning text-white mr-1" onclick="modalScript(this)" data-url="/File/Details/${full.fileID}"><i class="fas fa-info-circle"></i></button>\
                                                    <button type="button" class="btn btn-circle bg-danger text-white" onclick="modalScript(this)" data-url="/File/Delete/${full.fileID}"><i class="fas fa-trash-alt"></i></button>
                                                </div>`;
                        }
                    },
                ],
                "columnDefs": [
                    { "targets": -1, "orderable": false },
                ],
                "initComplete": function () {
                    let api = this.api();

                    $('input.searchInput').on('input', function () {
                        let columnIndex = $(this).data("index");
                        let desiredColumn = api.columns(columnIndex);
                        if (desiredColumn.search() !== this.value) {
                            desiredColumn
                                .search(this.value)
                                .draw();
                        }
                    });
                }
            });
        });
    </script>
}

<div id="GeneralModal"></div>

<!-- Alert for Exceptions -->
@if (@TempData["ErrorTitle"] is not null || ViewBag.ErrorTitle is not null)
{
    <div class="alert bg-gradient-danger alert-dismissible fade show border-0" role="alert">
        <h4 class="alert-heading text-white">
            <i class="fas fa-exclamation-circle"></i>
            @TempData["ErrorTitle"] 
            @ViewBag.ErrorTitle
            <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h4>
        <p class="text-white">@TempData["ErrorMessage"] @ViewBag.ErrorMessage</p>
    </div>
}

<!-- Alert for Exceptions -->
@if (@TempData["SuccessTitle"] is not null || ViewBag.SuccessTitle is not null)
{
    <div class="alert bg-gradient-success alert-dismissible fade show border-0" role="alert">
        <h4 class="alert-heading text-white">
            <i class="fas fa-check"></i>
            @TempData["SuccessTitle"]
            @ViewBag.SuccessTitle
            <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h4>
        <p class="text-white">@TempData["SuccessMessage"] @ViewBag.SuccessMessage</p>
    </div>
}

<div class="row">
    <div class="justify-content-between py-2 col-12 d-flex">
        <h1 class="h3">@ViewData["Title"]</h1>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-column flex-md-row align-items-center justify-content-between">
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item d-none d-md-block" role="presentation">
                <a class="nav-link" id="tag-tab" href="/Project/Edit/@ViewBag.ProjectID">Künye</a>
            </li>
            <li class="nav-item d-none d-md-block" role="presentation">
                <a class="nav-link" id="associates-tab" href="/ProjectFeasibility/Form/@ViewBag.ProjectID">Fizibilite</a>
            </li>
            <li class="nav-item d-none d-md-block" role="presentation">
                <a class="nav-link" id="associates-tab" href="/ProjectPerson/Index/@ViewBag.ProjectID">Kişiler</a>
            </li>
            <li class="nav-item d-none d-md-block" role="presentation">
                <a class="nav-link" id="associates-tab" href="/ProjectRelation/Index/@ViewBag.ProjectID">İlişkili Projeler</a>
            </li>
            <li class="nav-item d-none d-md-block" role="presentation">
                <a class="nav-link" id="project-field-tab" href="/Project/EditProjectField/@ViewBag.ProjectID">Proje Alanı</a>
            </li>
            <li class="nav-item d-none d-md-block" role="presentation">
                <a class="nav-link" id="project-field-tab" href="/ProjectMap/ProjectDetail/@ViewBag.ProjectID">Proje Haritası</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="subfunction-tab" href="/ProjectSubfunctionFeature/Index/@ViewBag.ProjectID">Fonksiyon</a>
            </li>
            <li class="nav-item d-none d-md-block" role="presentation">
                <a class="nav-link" id="schedule-tab" href="/ProjectPhase/Index/@ViewBag.ProjectID">Takvim/Süreç</a>
            </li>
            <li class="nav-item d-none d-md-block" role="presentation">
                <a class="nav-link" id="schedule-tab" href="/ProjectBidding/Index/@ViewBag.ProjectID">Maliyet</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Dökümanlar</a>
            </li>
            <li class="nav-item dropdown d-md-none" role="presentation">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="other-tab" href="#" aria-expanded="false">Diğer İşlemler</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Project/Edit/@ViewBag.ProjectID">Künye</a></li>
                    <li><a class="dropdown-item" href="/ProjectFeasibility/Form/@ViewBag.ProjectID">Fizibilite</a></li>
                    <li><a class="dropdown-item" href="/ProjectPerson/Index/@ViewBag.ProjectID">Kişiler</a></li>
                    <li><a class="dropdown-item" href="/ProjectRelation/Index/@ViewBag.ProjectID">İlişkili Projeler</a></li>
                    <li><a class="dropdown-item" href="/Project/EditProjectField/@ViewBag.ProjectID">Proje Alanı</a></li>
                    <li><a class="dropdown-item" href="/ProjectMap/ProjectDetail/@ViewBag.ProjectID">Proje Haritası</a></li>
                    <li><a class="dropdown-item" href="/ProjectSubfunctionFeature/Index/@ViewBag.ProjectID">Fonksiyon</a></li>
                    <li><a class="dropdown-item" href="/ProjectPhase/Index/@ViewBag.ProjectID ">Takvim/Süreç</a></li>
                    <li><a class="dropdown-item" href="/ProjectBidding/Index/@ViewBag.ProjectID">Maliyet</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content my-3" id="formContent">
            <div class="tab-pane fade active show" id="documents" role="tabpanel" aria-labelledby="documents-tab">
                <div class="row">
                    <div class="col-12">
                       
                        <div class="row">
                            <div class="justify-content-between col-12 d-flex border-bottom tabTitle">
                                <h4 class="text-primary">Fonksiyonlar</h4>
                                <button type="button" class="btn btn-success d-block" onclick="modalScript(this)" data-url="/File/Create/@ViewBag.ProjectID">
                                    <i class="fas fa-plus mr-2"></i> EKLE
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive position-relative">
                            <table class="table table-hover display" id="dataTableFile" width="100%" cellspacing="20">
                                <thead class="bg-navy-blue">
                                    <tr class="filter h-100 bg-white">
                                        <th scope="col"><input class="form-control w-100 searchInput" data-index="0" type="text" placeholder="Ara..." id="fileName" name="fileName" value="" /></th>
                                        <th scope="col"><input class="form-control w-100 searchInput" data-index="1" type="text" placeholder="Ara..." id="fileUploadType" name="fileUploadType" value="" /></th>
                                        <th scope="col"><input class="form-control w-100 searchInput" data-index="2" type="text" placeholder="Ara..." id="fileCategoryID" name="fileCategoryID" value="" /></th>
                                        <th scope="col"><input class="form-control w-100 searchInput" data-index="3" type="text" placeholder="Ara..." id="fileType" name="fileType" value="" /></th>
                                        <th scope="col"><input class="form-control w-100 searchInput" data-index="4" type="text" placeholder="Ara..." id="filePath" name="filePath" value="" /></th>
                                        <th scope="col"><input class="form-control w-100 searchInput" data-index="5" type="text" placeholder="Ara..." id="fileURL" name="fileURL" value="" /></th>
                                        <th scope="col"></th>
                                    </tr>
                                    <tr id="tableLabels">
                                        <th scope="col" class="text-white text-sm">Dosya İsmi</th>
                                        <th scope="col" class="text-white text-sm">Dosya Yükleme Tipi</th>
                                        <th scope="col" class="text-white text-sm">Kategori</th>
                                        <th scope="col" class="text-white text-sm">Dosya Tipi</th>
                                        <th scope="col" class="text-white text-sm">Dosya Yolu</th>
                                        <th scope="col" class="text-white text-sm">Dosya Linki</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>

                                </tfoot>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
