@model TEBARVALCOMPARE.Models.ApplicationUser

<!-- Modal -->
<div class="modal fade" id="ApplicationUserModal" tabindex="-1" aria-labelledby="ApplicationUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <h5 class="modal-title" id="exampleModalLabel">Detay</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-xl-4"><p class="text-primary font-weight-bold">Kullanıcı</p></div>
                        <div class="col-12 col-xl-8"><p class="text-primary">@Model.FirstName @Model.LastName</p></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xl-4"><p class="text-primary font-weight-bold">Kullanıcı Adı</p></div>
                        <div class="col-12 col-xl-8"><p class="text-primary">@Model.UserName</p></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xl-4"><p class="text-primary font-weight-bold">E-Posta</p></div>
                        <div class="col-12 col-xl-8"><p class="text-primary">@Model.Email</p></div>
                    </div>
                    <hr />
                    @if (Model.User is not null)
                    {
                        <div class="row">
                            <div class="col-12 col-xl-4"><p class="text-primary font-weight-bold">Oluşturan</p></div>
                            <div class="col-12 col-xl-8"><p class="text-primary">@Model.User.UserName</p></div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-12 col-xl-4"><p class="text-primary font-weight-bold">Oluşturma Tarihi</p></div>
                        <div class="col-12 col-xl-8"><p class="text-primary">@Model.CreationDate</p></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xl-4"><p class="text-primary font-weight-bold">Güncelleme Tarihi</p></div>
                        <div class="col-12 col-xl-8"><p class="text-primary">@Model.UpdateDate</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
