@model IEnumerable<IBBPortal.Models.ProjectPerson>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contractor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPersonDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInternal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contractor.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectPersonDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInternal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletionDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectPersonID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectPersonID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectPersonID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
