@model Project
@{
    ViewData["Title"] = ViewBag.ProjectTitle;

    var cultureInfo = CultureInfo.CreateSpecificCulture("tr-TR");

    var EstimatedProjectCost = Model.EstimatedProjectCost.HasValue ? Model.EstimatedProjectCost.Value.ToString("N2", cultureInfo) : "";
}

@section Scripts {
    <script>
        //ProjectBidding Datatable
        $(document).ready(function () {
            let table = $("#dataTableBidding").DataTable({
                "dom": 'rt<"d-flex justify-content-between flex-column align-items-baseline flex-md-row mt-3"ipl><"clear">',
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json",
                },
                "processing": false, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/ProjectBidding/JSONData",
                    "data": function (d) {
                        d.projectID = @ViewBag.ProjectID;
                    },
                    "type": "POST"
                },
                "columns": [
                    { "data": "biddingTitle", "autoWidth": true },
                    { "data": "phaseTitle", "autoWidth": true },
                    { "data": "departmentTitle", "autoWidth": true },
                    { "data": "contractorTitle", "autoWidth": true },
                    {
                        "data": "biddingContractCost",
                        "render": function (data) {
                            return `₺ ${data}`;
                        },
                        "autoWidth": true
                    },
                    {
                        "data": "biddingProgressPayment",
                        "render": function (data) {
                            return `₺ ${data}`;
                        },
                        "autoWidth": true
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta, row) {
                            return `<div class="d-flex align-items-center justify-content-end">\
                                                    <button type="button" class="btn btn-circle bg-turqoise text-white mr-1" onclick="modalScript(this)" data-url="/ProjectBidding/Edit/${full.projectBiddingID}"><i class="fas fa-edit"></i></a>\
                                                    <button type="button" class="btn btn-circle bg-warning text-white mr-1" onclick="modalScript(this)" data-url="/ProjectBidding/Details/${full.projectBiddingID}"><i class="fas fa-info-circle"></i></button>\
                                                    <button type="button" class="btn btn-circle bg-danger text-white" onclick="modalScript(this)" data-url="/ProjectBidding/Delete/${full.projectBiddingID}"><i class="fas fa-trash-alt"></i></button>
                                                </div>`;
                        }
                    },
                ],
                "columnDefs": [
                    { "targets": -1, "orderable": false },
                ],
                "initComplete": function () {
                    let api = this.api();

                    $('input.searchInput').on('input', function () {
                        let columnIndex = $(this).data("index");
                        let desiredColumn = api.columns(columnIndex);
                        if (desiredColumn.search() !== this.value) {
                            desiredColumn
                                .search(this.value)
                                .draw();
                        }
                    });
                }
            });
        });
    </script>
}

<div id="GeneralModal"></div>

<!-- Alert for Exceptions -->
@if (@TempData["ErrorTitle"] is not null)
{
    <div class="alert bg-gradient-danger alert-dismissible fade show border-0" role="alert">
        <h4 class="alert-heading text-white">
            <i class="fas fa-exclamation-circle"></i>
            @TempData["ErrorTitle"]
            <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h4>
        <p class="text-white">@TempData["ErrorMessage"]</p>
    </div>
}

<!-- Alert for Exceptions -->
@if (@TempData["SuccessTitle"] is not null)
{
    <div class="alert bg-gradient-success alert-dismissible fade show border-0" role="alert">
        <h4 class="alert-heading text-white">
            <i class="fas fa-check"></i>
            @TempData["SuccessTitle"]
            <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h4>
        <p class="text-white">@TempData["SuccessMessage"]</p>
    </div>
}

<h1 class="h3 mb-4 text-gray-800">@ViewData["Title"]</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-column flex-md-row align-items-center justify-content-between">
        <ul class="nav nav-pills" id="formTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tag-tab" href="/Project/Edit/@ViewBag.ProjectID">Künye</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="associates-tab" href="/ProjectFeasibility/Form/@ViewBag.ProjectID">Fizibilite</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="associates-tab" href="/ProjectPerson/Index/@ViewBag.ProjectID">Kişiler</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="associates-tab" href="/ProjectRelation/Index/@ViewBag.ProjectID">İlişkili Projeler</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="project-field-tab" href="/Project/EditProjectField/@ViewBag.ProjectID">Proje Alanı</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="project-field-tab" href="/ProjectMap/ProjectDetail/@ViewBag.ProjectID">Proje Haritası</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="subfunction-tab" href="/ProjectSubfunctionFeature/Index/@ViewBag.ProjectID ">Fonksiyon</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="schedule-tab" href="/ProjectPhase/Index/@ViewBag.ProjectID">Takvim/Süreç</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="cost-tab" data-toggle="tab" href="#cost" role="tab" aria-controls="cost" aria-selected="false">Maliyet</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content my-3" id="formContent">
            <div class="tab-pane fade active show" id="cost" role="tabpanel" aria-labelledby="cost-tab">
                <div class="row">
                    <div class="col-12">
                        <h4 class="text-primary border-bottom pb-2">Maliyet</h4>

                        <!-- Estimated Cost Form -->
                        <form method="post" asp-action="AddEstimatedProjectCost" class="form-inline py-4">

                            <input type="hidden" asp-for="ProjectID" value="@ViewBag.ProjectID"/>

                            <!-- Estimated Project Cost -->
                            <div class="form-group">
                                <label asp-for="EstimatedProjectCost" class="col-form-label">Tahmini Yapım Bedeli</label>
                                <input asp-for="EstimatedProjectCost" type="text" class="form-control" data-input-type="length" data-val="false" value="@EstimatedProjectCost">
                            </div>

                            <button type="submit" value="Save" class="btn bg-success text-white"><i class="fas fa-save mr-2"></i>Kaydet</button>
                        </form>

                        <!-- Summary For Costs -->
                        <div class="col-12 bg-info py-2 rounded">
                            <p class="m-0 text-white text-center">
                                Toplam Bedel : @ViewBag.TotalContractCost <br />
                                Toplam Hakediş Bedeli: @ViewBag.TotalProgressPayment
                            </p>
                        </div>

                        <div class="table-responsive position-relative">
                            <table class="table table-hover display" id="dataTableBidding" width="100%" cellspacing="20">
                                <thead class="bg-navy-blue">
                                    <tr class="filter h-100 bg-white">
                                        <th scope="col"><input class="form-control w-100 searchInput" data-index="0" type="text" placeholder="Ara..." id="biddingTitle" name="biddingTitle" value="" /></th>
                                        <th scope="col"><input class="form-control w-100 searchInput" data-index="1" type="text" placeholder="Ara..." id="phaseTitle" name="phaseTitle" value="" /></th>
                                        <th scope="col"><input class="form-control w-100 searchInput" data-index="2" type="text" placeholder="Ara..." id="departmentTitle" name="departmentTitle" value="" /></th>
                                        <th scope="col"><input class="form-control w-100 searchInput" data-index="2" type="text" placeholder="Ara..." id="contractorTitle" name="contractorTitle" value="" /></th>
                                        <th scope="col"><input class="form-control w-100 searchInput" data-index="2" type="text" placeholder="Ara..." id="biddingContractCost" name="biddingContractCost" value="" /></th>
                                        <th scope="col"><input class="form-control w-100 searchInput" data-index="2" type="text" placeholder="Ara..." id="biddingProgressPayment" name="biddingProgressPayment" value="" /></th>
                                        <th scope="col">
                                            <button type="button" class="btn btn-success d-block w-100" onclick="modalScript(this)" data-url="/ProjectBidding/Create/@ViewBag.ProjectID">
                                                <i class="fas fa-plus mr-2"></i> EKLE
                                            </button>
                                        </th>
                                    </tr>
                                    <tr id="tableLabels">
                                        <th scope="col" class="text-white text-sm">İhale İsmi</th>
                                        <th scope="col" class="text-white text-sm">Faz</th>
                                        <th scope="col" class="text-white text-sm">Müdürlük</th>
                                        <th scope="col" class="text-white text-sm">Yüklenici</th>
                                        <th scope="col" class="text-white text-sm">Sözleşme Bedeli</th>
                                        <th scope="col" class="text-white text-sm">Hakediş Bedeli</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>

                                </tfoot>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
