@model IBBPortal.Models.ProjectSettings

@{
    var ProjectID = ViewBag.ProjectID == null ? Model.ProjectID : ViewBag.ProjectID;
    ViewData["Title"] = ViewBag.ProjectTitle;
}

<!-- Alert for Exceptions -->
@if (@TempData["SuccessTitle"] is not null)
{
    <div class="alert bg-gradient-success alert-dismissible fade show border-0" role="alert">
        <h4 class="alert-heading text-white">
            <i class="fas fa-check"></i>
            @TempData["SuccessTitle"]
            <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h4>
        <p class="text-white">@TempData["SuccessMessage"]</p>
    </div>
}

<div class="row">
    <div class="justify-content-between py-2 col-12 d-flex">
        <h1 class="h3">@ViewData["Title"]</h1>
    </div>
</div>
<div class="card shadow mb-4">

    @await Html.PartialAsync("~/Views/Project/_ManageNavigation.cshtml",
    new ViewDataDictionary(ViewData)
    {
        { "Id", @ProjectID }
    })

    <div class="card-body">
        <div class="tab-content my-3" id="formContent">
            <div class="tab-pane fade active show" id="project-settings" role="tabpanel" aria-labelledby="project-settings-tab">
                <div class="row">
                    <div class="col-12 col-xl-6">
                        <form asp-action="Index">
                            <input type="hidden" asp-for="ProjectSettingsID" />
                            <input type="hidden" asp-for="ProjectID" value="@ProjectID" />

                            <!-- Priority -->
                            <div class="form-group row">
                                <label asp-for="Priority" class="col-12 col-lg-4 col-form-label">Öncelik<span class="text-danger">*</span></label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="Priority" type="number" class="form-control" min="1" max="9999" required>
                                    <span asp-validation-for="Priority" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Is Internal ? -->
                            <div class="form-group row">
                                <label asp-for="HideOrShow" class="col-form-label col-12 col-xl-4">Göster / Sakla<span class="text-danger">*</span></label>
                                <div class="col-12 col-xl-8">
                                    <div class="text-center d-inline-block col-form-label">
                                        <div class="vc-toggle-container">
                                            <label class="vc-switch">
                                                <input type="checkbox" class="vc-switch-input" asp-for="HideOrShow">
                                                <span data-on="Göster" data-off="Sakla" class="vc-switch-label"></span>
                                                <span class="vc-handle"></span>
                                                <span asp-validation-for="HideOrShow" class="text-danger"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Project Object ID -->
                            <div class="form-group row">
                                <label asp-for="ProjectObjectID" class="col-12 col-lg-4 col-form-label">Nesne No.</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ProjectObjectID" type="number" class="form-control">
                                    <span asp-validation-for="ProjectObjectID" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project UID -->
                            <div class="form-group row">
                                <label asp-for="ProjectUID" class="col-12 col-lg-4 col-form-label">UID</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ProjectUID" type="text" class="form-control">
                                    <span asp-validation-for="ProjectUID" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project Global ID -->
                            <div class="form-group row">
                                <label asp-for="ProjectGlobalID" class="col-12 col-lg-4 col-form-label">Global Proje No.</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ProjectGlobalID" type="text" class="form-control">
                                    <span asp-validation-for="ProjectGlobalID" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project File Number -->
                            <div class="form-group row">
                                <label asp-for="ProjectFileNumber" class="col-12 col-lg-4 col-form-label">Proje Dosya No.</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ProjectFileNumber" type="text" class="form-control">
                                    <span asp-validation-for="ProjectFileNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Project Package Number -->
                            <div class="form-group row">
                                <label asp-for="ProjectPackageNumber" class="col-12 col-lg-4 col-form-label">Proje Paket No.</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ProjectPackageNumber" type="text" class="form-control">
                                    <span asp-validation-for="ProjectPackageNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Default Values for the Database Date Part -->
                            <input type="hidden" asp-for="CreationDate" />
                            <input type="hidden" asp-for="UpdateDate" />

                            <!-- User ID for the Update -->
                            <input type="hidden" asp-for="UserID" />


                            <div class="buttons mt-3 my-md-0">
                                <button type="submit" value="Save" class="btn bg-success text-white"><i class="fas fa-save mr-2"></i> Kaydet</button>
                                <a asp-action="Index" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i> Vazgeç</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
