@model IBBPortal.Models.Contractor

@{
    ViewData["Title"] = "Yüklenici Düzenle";
}

<!-- Alert for Success -->
@if (@TempData["SuccessTitle"] is not null)
{
    <div class="alert bg-gradient-success alert-dismissible fade show border-0" role="alert">
        <h4 class="alert-heading text-white">
            <i class="fas fa-check"></i>
            @TempData["SuccessTitle"]
            <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h4>
        <p class="text-white">@TempData["SuccessMessage"]</p>
    </div>
}

<h1 class="h3 mb-4 text-gray-800">@ViewData["Title"]</h1>
<form asp-action="Edit">
    <input type="hidden" asp-for="ContractorID" />
    <div class="card shadow mb-4">
        @*<div class="card-header py-3 d-flex flex-column flex-md-row align-items-center justify-content-between">
            <ul class="nav nav-pills" id="formTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="false">Genel</a>
                </li>
            </ul>
        </div>*@
        <div class="card-body">
            @*<div class="tab-pane fade active show" id="general" role="tabpanel" aria-labelledby="general-tab">*@
                <div class="row">
                    <div class="col-12 col-xl-6">
                        <!-- Validation Part. Must be still for all views!! -->
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- Title -->
                        <div class="form-group row">
                            <label asp-for="Title" class="col-12 col-xl-4 col-form-label">Başlık<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <input asp-for="Title" type="text" class="form-control" required>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Contractor Type ID -->
                        <div class="form-group row">
                            <label asp-for="ContractorTypeID" class="col-12 col-xl-4 col-form-label">Yüklenici Tipi<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <select asp-for="ContractorTypeID" class="form-control" id="selectContractorType" style="width: 100%;">
                                    @if (Model.ContractorType is not null)
                                    {
                                        <option value="@Model.ContractorType.ContractorTypeID">@Model.ContractorType.ContractorTypeTitle</option>
                                    }

                                    else
                                    {
                                        <option selected value="">Yüklenici Tipi Seçin</option>
                                    }
                                </select>
                                <span asp-validation-for="ContractorTypeID" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Description -->
                        <div class="form-group row">
                            <label asp-for="Description" class="col-12 col-xl-4 col-form-label">Açıklama</label>
                            <div class="col-12 col-xl-8">
                                <textarea class="form-control" asp-for="Description" rows="3"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <hr />

                        <!-- Tax Code -->
                        <div class="form-group row">
                            <label asp-for="TaxCode" class="col-12 col-xl-4 col-form-label">Vergi Numarası<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <input asp-for="TaxCode" type="number" class="form-control" required>
                                <span asp-validation-for="TaxCode" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Tax Office -->
                        <div class="form-group row">
                            <label asp-for="TaxOffice" class="col-12 col-xl-4 col-form-label">Vergi Dairesi<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <input asp-for="TaxOffice" type="text" class="form-control" required>
                                <span asp-validation-for="TaxOffice" class="text-danger"></span>
                            </div>
                        </div>

                        <hr />

                        <!-- City ID -->
                        <div class="form-group row">
                            <label asp-for="CityID" class="col-12 col-xl-4 col-form-label">Bağlı Olduğu İl</label>
                            <div class="col-12 col-xl-8">
                                <select asp-for="CityID" class="form-control" id="selectCity" style="width: 100%;">
                                    @if (Model.City is not null)
                                    {
                                        <option value="@Model.City.CityID">@Model.City.CityName</option>
                                    }

                                    else
                                    {
                                        <option selected value="">İl Seçin</option>
                                    }
                                </select>
                                <span asp-validation-for="CityID" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- District ID -->
                        <div class="form-group row" data-dependent-on="selectCity">
                            <label asp-for="DistrictID" class="col-12 col-xl-4 col-form-label">Bağlı Olduğu İlçe</label>
                            <div class="col-12 col-xl-8">
                                <select asp-for="DistrictID" class="form-control" id="selectDistrict" style="width: 100%;">
                                    @if (Model.District is not null)
                                    {
                                        <option value="@Model.District.DistrictID">@Model.District.DistrictName</option>
                                    }

                                    else
                                    {
                                        <option selected value="">İlçe Seçin</option>
                                    }
                                </select>
                                <span asp-validation-for="DistrictID" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="form-group row">
                            <label asp-for="Address" class="col-12 col-xl-4 col-form-label">Adres</label>
                            <div class="col-12 col-xl-8">
                                <textarea class="form-control" asp-for="Address" rows="3"></textarea>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        <hr />

                        <!-- Phone Number -->
                        <div class="form-group row">
                            <label asp-for="PhoneNumber" class="col-12 col-xl-4 col-form-label">Telefon Numarası<span class="text-danger">*</span></label>
                            <div class="col-12 col-xl-8">
                                <input asp-for="PhoneNumber" type="text" class="form-control phoneField" required>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="form-group row">
                            <label asp-for="Email" class="col-12 col-xl-4 col-form-label">E-Posta</label>
                            <div class="col-12 col-xl-8">
                                <input asp-for="Email" type="email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Website -->
                        <div class="form-group row">
                            <label asp-for="Website" class="col-12 col-xl-4 col-form-label">Web Sitesi</label>
                            <div class="col-12 col-xl-8">
                                <input asp-for="Website" type="text" class="form-control">
                                <span asp-validation-for="Website" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Default Values for the Database Date Part -->
                        <input type="hidden" asp-for="CreationDate" />
                        <input type="hidden" asp-for="UpdateDate" />

                        <!-- User ID for the Update -->
                        <input type="hidden" asp-for="UserID" />

                        <div class="buttons mt-3 my-md-0">
                            <button type="submit" value="Save" class="btn bg-success text-white"><i class="fas fa-save mr-2"></i> Kaydet</button>
                            <a asp-action="Index" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i> Vazgeç</a>
                        </div>

                    </div>
                </div>
            </div>
        @*</div>*@
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!-- Select2 for Contractor -->
    <script>
        $('#selectCity').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/City/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });

        //Get City Field Value and if not empty or undefined, open up the District Field
        //First Version of dependent Field on the Project. Will be updated.

        //Initial State for District Field
        $("[data-dependent-on=selectCity").hide();

        $('#selectDistrict').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/District/JsonSelectData',
                data: function () {

                    //Get the cityID from the user
                    const cityID = $("#selectCity").val();

                    let query = {
                        cityID: cityID,
                    }
                    return query;
                },
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });

        //Check on Edit Form
        let tempValue = $('#selectCity').val();
        if (tempValue && tempValue !== "") {
            $("[data-dependent-on=selectCity").show();
        }

        $('#selectCity').on('input', function () {
            cityValue = $(this).val();

            if (cityValue && cityValue !== "") {
                $("[data-dependent-on=selectCity").show();
            }
        });

        $('#selectContractorType').select2({
            theme: "ibb",
            language: "tr",
            ajax: {
                url: '/ContractorType/JsonSelectData',
                dataType: 'json',
                processResults: function (response) {

                    return {
                        results: response.results,
                    };
                }
            }
        });
    </script>
}
