@model IBBPortal.Models.ProjectProduction

@{
    var ProjectID = ViewBag.ProjectID == null ? Model.ProjectID : ViewBag.ProjectID;
    ViewData["Title"] = ViewBag.ProjectTitle;

    var physicalCompletionRatio = Model.PhysicalCompletionRatio == null ? 0 : Model.PhysicalCompletionRatio;
    var monetaryCompletionRatio = Model.MonetaryCompletionRatio == null ? 0 : Model.MonetaryCompletionRatio;

}

<!-- Alert for Exceptions -->
@if (@TempData["SuccessTitle"] is not null)
{
    <div class="alert bg-gradient-success alert-dismissible fade show border-0" role="alert">
        <h4 class="alert-heading text-white">
            <i class="fas fa-check"></i>
            @TempData["SuccessTitle"]
            <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h4>
        <p class="text-white">@TempData["SuccessMessage"]</p>
    </div>
}

<div class="row">
    <div class="justify-content-between py-2 col-12 d-flex">
        <h1 class="h3">@ViewData["Title"]</h1>
    </div>
</div>
<div class="card shadow mb-4">

    @await Html.PartialAsync("~/Views/Project/_ManageNavigation.cshtml",
    new ViewDataDictionary(ViewData)
    {
        { "Id", @ProjectID }
    })

    <div class="card-body">
        <div class="tab-content my-3" id="formContent">
            <div class="tab-pane fade active show" id="project-production" role="tabpanel" aria-labelledby="project-production-tab">
                <div class="row">
                    <div class="col-12 col-xl-6">
                        <form asp-action="Index">
                            <input type="hidden" asp-for="ProjectProductionID" />
                            <input type="hidden" asp-for="ProjectID" value="@ProjectID" />

                            <!-- Foundation Date -->
                            <div class="form-group row">
                                <label asp-for="FoundationDate" class="col-12 col-lg-4 col-form-label">Temel Atma Tarihi</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="FoundationDate" type="text" class="form-control datepicker">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span asp-validation-for="FoundationDate" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Opening Date -->
                            <div class="form-group row">
                                <label asp-for="OpeningDate" class="col-12 col-lg-4 col-form-label">Açılış Tarihi</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="OpeningDate" type="text" class="form-control datepicker">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span asp-validation-for="OpeningDate" class="text-danger"></span>
                                </div>
                            </div>

                            <hr />

                            <!-- Cost -->
                            <div class="form-group row">
                                <label asp-for="Cost" class="col-12 col-lg-4 col-form-label">Yapım Bedeli</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="Cost" type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-input-type="length" data-val="false">
                                    <i class="fas fa-coins"></i>
                                    <span asp-validation-for="Cost" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Estimated Cost -->
                            <div class="form-group row">
                                <label asp-for="EstimatedCost" class="col-12 col-lg-4 col-form-label">Tahmini Yapım Bedeli</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="EstimatedCost" type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-input-type="length" data-val="false">
                                    <i class="fas fa-coins"></i>
                                    <span asp-validation-for="EstimatedCost" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Approximate Cost -->
                            <div class="form-group row">
                                <label asp-for="ApproximateCost" class="col-12 col-lg-4 col-form-label">Yapım Yaklaşık Maliyeti</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ApproximateCost" type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-input-type="length" data-val="false">
                                    <i class="fas fa-coins"></i>
                                    <span asp-validation-for="ApproximateCost" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Contract Cost -->
                            <div class="form-group row">
                                <label asp-for="ContractCost" class="col-12 col-lg-4 col-form-label">Yapım Sözleşme Bedeli</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ContractCost" type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-input-type="length" data-val="false">
                                    <i class="fas fa-coins"></i>
                                    <span asp-validation-for="ContractCost" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Contract Cost -->
                            <div class="form-group row">
                                <label asp-for="ContractCost" class="col-12 col-lg-4 col-form-label">Yapım Sözleşme Bedeli</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ContractCost" type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-input-type="length" data-val="false">
                                    <i class="fas fa-coins"></i>
                                    <span asp-validation-for="ContractCost" class="text-danger"></span>
                                </div>
                            </div>


                            <!-- Contract Increment Cost -->
                            <div class="form-group row">
                                <label asp-for="ContractIncrementCost" class="col-12 col-lg-4 col-form-label">Yapım Sözleşme Artış Bedeli</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ContractIncrementCost" type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-input-type="length" data-val="false">
                                    <i class="fas fa-coins"></i>
                                    <span asp-validation-for="ContractIncrementCost" class="text-danger"></span>
                                </div>
                            </div>

                            <hr />

                            <!-- Approximate Cost Date -->
                            <div class="form-group row">
                                <label asp-for="ApproximateCostDate" class="col-12 col-lg-4 col-form-label">İşin Yaklaşık Maliyet Tarihi (Yapım)</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ApproximateCostDate" type="text" class="form-control datepicker">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span asp-validation-for="ApproximateCostDate" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Contract Starting Date -->
                            <div class="form-group row">
                                <label asp-for="ContractStartingDate" class="col-12 col-lg-4 col-form-label">İşin Sözleşme Başlama Tarihi (Yapım)</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ContractStartingDate" type="text" class="form-control datepicker">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span asp-validation-for="ContractStartingDate" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Starting Date -->
                            <div class="form-group row">
                                <label asp-for="StartingDate" class="col-12 col-lg-4 col-form-label">İşin Başlama Tarihi (Yapım)</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="StartingDate" type="text" class="form-control datepicker">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span asp-validation-for="StartingDate" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Contract Ending Date -->
                            <div class="form-group row">
                                <label asp-for="ContractEndingDate" class="col-12 col-lg-4 col-form-label">İşin Sözleşme Bitim Tarihi (Yapım)</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="ContractEndingDate" type="text" class="form-control datepicker">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span asp-validation-for="ContractEndingDate" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Ending Date -->
                            <div class="form-group row">
                                <label asp-for="EndingDate" class="col-12 col-lg-4 col-form-label">İşin Bitim Tarihi (Yapım)</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="EndingDate" type="text" class="form-control datepicker">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span asp-validation-for="EndingDate" class="text-danger"></span>
                                </div>
                            </div>

                            <hr />

                            <!-- Total Progress Payment Cost -->
                            <div class="form-group row">
                                <label asp-for="TotalProgressPaymentCost" class="col-12 col-lg-4 col-form-label">Yapım Hakediş Toplam Bedeli</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="TotalProgressPaymentCost" type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-input-type="length" data-val="false">
                                    <i class="fas fa-coins"></i>
                                    <span asp-validation-for="TotalProgressPaymentCost" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="PhysicalCompletionRatio" class="col-12 col-lg-4 col-form-label">Yapım Fiziki Gerçekleşme Oranı %</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="PhysicalCompletionRatio" type="range" class="form-range w-100" value="@physicalCompletionRatio" min="0" max="100" onInput="$('#rangevalphysical').html($(this).val())">
                                    <span id="rangevalphysical">@physicalCompletionRatio</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="MonetaryCompletionRatio" class="col-12 col-lg-4 col-form-label">Yapım Nakdi Gerçekleşme Oranı %</label>
                                <div class="col-12 col-lg-8">
                                    <input asp-for="MonetaryCompletionRatio" type="range" class="form-range w-100" value="@monetaryCompletionRatio" min="0" max="100" onInput="$('#rangevalmonetary').html($(this).val())">
                                    <span id="rangevalmonetary">@monetaryCompletionRatio</span>
                                </div>
                            </div>

                            <!-- Default Values for the Database Date Part -->
                            <input type="hidden" asp-for="CreationDate" />
                            <input type="hidden" asp-for="UpdateDate" />

                            <!-- User ID for the Update -->
                            <input type="hidden" asp-for="UserID" />


                            <div class="buttons mt-3 my-md-0">
                                <button type="submit" value="Save" class="btn bg-success text-white"><i class="fas fa-save mr-2"></i> Kaydet</button>
                                <a asp-action="Index" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i> Vazgeç</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
